*{
    margin:0;
    padding:0;
  }
  html{
    background-color:purple;
    background:  radial-gradient(rgb(155, 80, 155),rgb(171, 149, 122),rgba(0,0,0,0.2));
    text-align: center;
  }
  #namediv{
    margin-top:50px;
  }
 
  
  #submit{
    width: 150px;
    height: 20px;
    font-size: 15px;
    font-family: "comic sana MS",cursive,sans-serif;
    background-color: #001660;
    color:whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    margin:10px;
    align-items: center;
  }
  
  table{
    width:100%;
    margin: 50px auto;
    background-color:grey ;
  }
  table, th, td{
    border: 2px solid black;
    padding:5px
  }
  th{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial;
    color:#004d00;
  }
  td{
    font-size:25px;
    color:maroon;
    font-weight: 200;
    font-family:Georgia;
  }
  .col-add{
     width:1350px;
     height:130px
  
  }
  .t-data{
    width:250px;
  }
  input{
    background-color:antiquewhite;
  }
  select{
    background-color: antiquewhite;
  }
  textarea{
    background-color: antiquewhite;
  }
  th{
    width:100px;
    height: 60px;
  }
  