
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=M+PLUS+Rounded+1c&display=swap');
.cat-container{
   display: grid;
   align-items: center;
   justify-content: center;
   background:radial-gradient(rgb(90, 151, 212),white);
   
    padding:5px;
    margin:20px;
   width:1000px;
   height: 550px;
}
.container{
   width: 100px;
   height: 100px;
}
button{
   width:100px;
   height:40px;
   border-color:1px solid black;
   box-shadow: 10px 5px 5px black; 
    background-color:aqua;
    color:red;
    font-weight:bold;
   
}
.btn-1{
   border-radius: 22px;
}
.btn-2{
   border-radius: 50%;
}
.btn-3{
   width:80px;
   height:80px;
   border-radius: 50%;
}
button:hover{
   background-color: green;
   color:whitesmoke;

}
h2{
   background-color:orange;
   color:white;
   width: 1000px;
   margin:20px;
   text-align: center;
}


p{
   font-size:large;
   font-weight: 400;
   font-family: "M PLUS Rounded 1c", sans-serif;
   color: blue;

}

.head{
   color:red;
   font-size:50px;
   display: flex;
   justify-content: center;
}



