*{
    margin:0;
    padding:0;
}


.box-model{
    border:5px solid black;
    width:200px;
    height:200px;
    background-color:skyblue;
    margin: 20px 15px;
    padding:10px  15px 18px 20px;
}
.btn{
    margin:10px;
    border:2px solid black;
    padding:8px;
    border-radius:10px

}
#main-container{
    border:2px solid black;
    width:500px;
    height:500px;
    text-align: center;
    background-color: blueviolet;

}

.box{
    border:2px solid black;
    width:100px;
    height:100px;
    padding:5px;
    margin:5px;
    color: beige;
    font-size: larger;

}
.Absolute{
    /* position:absolute;
    top:10px;
    right:20px;
     */
    background-color: orange;

}
.relative{
    /* position:relative;
    top:20px;
    left:20px; */
    background-color: orangered;
}
.sticky{
    position:sticky;
    top:0;
    background-color: magenta;

}
.fixed{
    position:fixed;
    top :10px;
    right :10px;
    background-color: mediumspringgreen;
}
.sub-class{
    position:sticky;
    top:0;
    width:100vw;
    border:2px solid black;
    padding:15px;
    background-color: red;
    color:azure;
    font-size: large;
    text-align:center;

}
p{
    font-size: 12px;
    color:blue;
    background: linear-gradient(to top ,yellow,green);
}
.par-cls{
    font-size: 12px;
    color: red;

}
.child{
    font-size: inherit;
    color:inherit;
    background: radial-gradient(circle,green,yellow);

}




